{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>iQuensAns</title>
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>


  <script>
    $(document).ready(function(){

      $(".like").click(function(e){


        e.preventDefault()

            $(this).toggleClass("heart");
          // update total likes






      });

    });
  </script>

	<script>
		$(document).ready(function(){

       if( screen.width <= 1020 )
    {

       $(".wrapper").toggleClass("princy");


    }
			$(".hamburger").click(function(){
			   $(".wrapper").toggleClass("princy");
			});

    });


    $(document).ready(function(){




      let prevScrollpos = window.pageYOffset;
      window.onscroll = function() {
        let currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
          document.getElementById("navbar").style.top = "0";
          if( screen.width <= 1020 )
          {

            document.getElementById("side-bar").style.top="115px";

          }else{
            document.getElementById("side-bar").style.top="65px";

          }

        } else {

          document.getElementById("navbar").style.top="-50px";
          document.getElementById("side-bar").style.top="10px";
        }
        prevScrollpos = currentScrollPos;
      }
    })





	</script>
</head>
        <body>


<div class="wrapper">
  <div id="navbar" class="top_navbar">
    <div class="hamburger">

      <img src="{% static 'images/messenger-side-nav.png' %}" alt="">

    </div>
    <div class="top_menu">
      <div class="logo">

        <input id="search-bar" type="text" placeholder="Search..">

      </div>

      <div id="top-bar">


        <ul>

          <li id="top-nav-home">

            <a href="#"><img src="{%  static 'images/side-nav-home.png' %}" alt=""> </a>

          </li>
          <li id="top-nav-videos">
            <a href="#"><img src="{% static 'images/side-nav-video.png' %}" alt=""> </a>
          </li>
          <li id="top-nav-messenger">

            <a href="#"><img src="{% static 'images/side-nav-chat.png' %}" alt=""> </a>
          </li>
        </ul>


      </div>

      <div class="top-last-icons">


        <ul>
          <li id="user-pic-top"><a href="#">
            <img class="user_status_profile_pic"  src="{{ profile_pic }}" alt="">
            </a></li>

            <li id="user-name">
              <p style="margin-top:15px; margin-left: 3px;">{{ user }}</p>
            </li>
          <li><a href="#">
            <img  src="{% static 'images/top-nav-notification.png' %}" alt="">
            </a></li>
          <li><a href="#">
            <img src="{% static 'images/top-nav-menu-switch.png' %}" alt="">
            </a></li>
        </ul>


      </div>

    </div>
  </div>

  <div id="side-bar" class="sidebar">
      <ul>
        <li class="username">
          <span class="title">Hello</span>
          <br>
          <span  class="title" id="username">{{ user }}</span>


        </li>






        <li><a href="#">
          <span class="icon"><img src="{% static 'images/side-nav-home.png' %}" alt=""></span>
          <span class="title">Home</span></a></li>
        <li><a href="#">
          <span class="icon"><img src="{% static 'images/side-nav-video.png' %}" alt=""></span>
          <span class="title">Videos</span>
          </a></li>
        <li><a href="#">
          <span class="icon"><img src="{% static 'images/side-nav-chat.png' %}" alt=""></span>
          <span class="title">Chats</span>
          </a></li>
        <li><a href="#">
          <span class="icon"><img src="{% static 'images/side-nav-setting.png' %}" alt=""></span>
          <span class="title">Settings</span>
          </a></li>

    </ul>
  </div>


<!-- feed page-->
  <div class="main_container">



    <div class="post-create">


      <div id="post-create-style">


        <ul>
          <li>
            <img class="user_status_profile_pic" src="{{ profile_pic }}" alt="">
          </li>

          <li>
            <input  data-toggle="modal" data-target="#myModal" type="text" name="" id="post-content" placeholder="What's on your mind">
          </li>

        </ul>

        <br>

        <hr style="border: 1px solid #EAEAEA;">


        <div id="image-video-upload">

          <ul>

            <li><a href="#"><img data-toggle="modal" data-target="#myModal"  src="{% static 'images/image-upload.png' %}" alt=""></a></li>
            <li><a href="#"><img data-toggle="modal" data-target="#myModal"  src="{% static 'images/video-upload.png' %}" alt=""></a></li>


          </ul>


        </div>

      </div>




    </div>


<!-- a single post-->

    {% for post in posts %}
        {% with total_likes=post.users_like.count users_like=post.users_like.all %}
    <div class="post-container">


      <div class="post-inner-container">

        <img id="post-owner-pic" src="{{ post.author.profile_pic.url }}" alt="">



        <ul class="post-owner">
          <li id="username">{{ post.author.username }}</li>
          <li id="created_at">{{ post.created }}
            <img src="{% static 'images/earth.png' %}" alt="">
          </li>

        </ul>

        <a class="post-options-bar"><img src="{% static 'images/post-option-bar.png' %}" alt=""></a>
      </div>


      <div id="post-image">

          <p style="line-height: 1.6">
              {% if post.body %}
              {{ post.body }}
              {% endif %}
          </p>
        {% if post.image %}
        <img   width="620px" height="400" src="{{ post.image.url}}" alt="">
          {% endif %}
      </div>



      <div class="like-comment-share">

        <ul class="buttons">
         <a  id="abcde{{ post.id }}" href="#"  data-id="{{ post.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like"><i class="fa fa-heart"></i>

                   <span id="abc{{ post.id }}" class="total">{{ total_likes }} </span> <span id="abcd{{ post.id }}" class="count">{% if request.user not in users_like %}like{% else %}unlike{% endif %}</span>
         </a>



          <li  id="comment-button"><img src="{% static 'images/comment-button.png' %}" alt=""></li><p id="comment-text">282 Comments</p>
          <li id="share-button"><img src="{% static 'images/share-button.png' %}" alt=""></li><p id="share-text">10 Shares</p>
        </ul>

      </div>


    </div>
        {% endwith %}
      {% endfor %}

<!-- a single post-->
















</div>
    <!--feed page-->


     <!-- Modal -->


  <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title">Create Post</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
       <ul>
         <li><img src="{% static 'images/user.png' %}" alt=""></li>
         <li><p>Prince Raj</p></li>
       </ul>
       <form  method="POST" enctype="multipart/form-data">
             {% csrf_token %}

           {{ form.body }}



         <div class="custom-file mb-3">

           {{ form.image }}

          <label class="custom-file-label" for="customFile">Choose file</label>
         </div>



         <button type="submit" class="btn btn-primary">Post</button>

       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

    <!--modal end-->

</div>





        </div>
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>




<script>
var csrftoken = Cookies.get('csrftoken'); function csrfSafeMethod(method) {
       // these HTTP methods do not require CSRF protection
return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method)); }
$.ajaxSetup({
beforeSend: function(xhr, settings) {
if (!csrfSafeMethod(settings.type) && !this.crossDomain) { xhr.setRequestHeader("X-CSRFToken", csrftoken);
} }
});
$(document).ready(function(){



  $('a.like').click(function(e){
      let previous_action = $('a.like').data('action');
          let current_post=$(this).data('id')
            current_post=parseInt(current_post)

    e.preventDefault();
    $.post('{% url "iquensans:like" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {


          // toggle data-action
          $('a.like').data('action', previous_action == 'like' ?
          'unlike' : 'like');
          // toggle link text

            loadDoc();


                 // update total likes
            function loadDoc() {
  let xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {

    if (this.readyState == 4 && this.status == 200) {


        let obj=JSON.parse(xhttp.responseText)
        console.log(obj.length)

      for ( let i = 0; i < obj.length; i++) {

          if(obj[i].id==current_post){

              let liked_heart_or_not=document.getElementById(`abcde${current_post}`).className
              console.log(liked_heart_or_not)

              let like_count=document.getElementById(`abc${current_post}`)
              like_count.innerHTML=obj[i].user_likes
              let like_status=document.getElementById(`abcd${current_post}`)
              if( like_status.textContent=="unlike"){

                  like_status.innerText="like"



              } else if(like_status.innerText=="like"){
                  like_status.innerText="unlike"

              }



          }





}

    }
  };
  xhttp.open("GET", "http://127.0.0.1:8000/posts", true);
  xhttp.send();
}






        }
      }
    );
  });




     });
   </script>






        </body>
</html>