<!-- Tutorial URL: http://sixrevisions.com/css/responsive-background-image/ -->

<!doctype html>
<html lang="en">
{% load static %}
<head>
<meta charset="utf-8">
<title>Welcome to iQueAns Social</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Six Revisions">
  <meta name="description" content="iQueAns Social, A new place to learn and hangout">
  <link rel="icon" href="http://sixrevisions.com/favicon.ico" type="image/x-icon" />
  <link href="http://fonts.googleapis.com/css?family=Kotta+One|Cantarell:400,700" rel="stylesheet" type="text/css">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->



  <!-- responsive-full-background-image.css stylesheet contains the code you want -->
  <link rel="stylesheet" href="{% static 'css/login-signup.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <!-- Not required: jquery.min.js and presentational-only.js is only used to demonstrate scrolling behavior of the viewport  -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>

  <header class="container">
    <section class="content">



      <!-- Some content to demonstrate viewport scrolling behavior -->
      <div id="more-content">
            <div class="container">

              <form method="post">
                <div class="row">
                  <div class="col-22">
                    <label for="fname">Welcome to iQueAns</label>
                  </div>
                  <table >

                   <tr>
                   <div class="col-25">
                   <td> <label id="firstName" for="firstname">First name</label></td>
                   <td> <label id="lastName" for="lastname">Last name</label> </td>
                   </div>
                   </tr>
                    <tr>
                    <div class="first-last-name">

                      <td>{{ user_form.first_name }}</td>
                      <td>{{user_form.last_name}}</td>

                    </div>

                    </tr>
                   </div>
                  </table>
                   <div class="col-25">
                    <label for="email">Email Address</label>
                  </div>
                  <div class="col-75">
                      {{ user_form.email.errors }}
                   {{ user_form.email }}
                  </div>
                </div>


               <div class="row">
                  <div class="col-25">
                    <label for="username">Username</label>
                  </div>
                  <div class="col-75">
                      {{ user_form.username.errors }}
                   {{user_form.username }}
                  </div>
                </div>


                <div class="row">
                  <div class="col-25">
                    <label for="lname">Password</label>
                  </div>
                  <div class="col-75">

                   {{user_form.password }}
                  </div>
                </div>


            <div class="row">
                  <div class="col-25">
                    <label for="lname">Confirm password</label>
                  </div>
                  <div class="col-75">
                       {{ user_form.password2.errors }}
                   {{user_form.password2 }}
                  </div>
                </div>



                <div class="row">
                  <div class="col-25">
                    <label for="lname">Phone number</label>
                  </div>
                  <div class="col-75">
                    {{ user_form.phone_number }}
                  </div>
                </div>


              <div class="row">
                <div>
                  <label id="birthday" for="birthday">Birthday:</label>
                </div>

                <div class="col-75">
                  {{ user_form.date_of_birth }}
                </div>
              </div>

              <br>






                <div class="row">
                  <div class="col-25">
                    <table>
                      Choose gender
                      <br>
                      <tr>
                        <td>{{user_form.gender }}</td>

                      </tr>
                     </table>
                  </div>
                </div>


                <br>





                 {% csrf_token %}

                <div class="row">
                  <input type="submit" value="Register">
                </div>








              </form>


               <div class="row">
                   <a href="{% url 'iquensans:login' %}"><input type="submit" class="sign-up" value="Already have an account? Log In"></a>
                </div>


            </div>


       </div>



    </section>
  </header>

</body>
</html>
